/*
Stylesheet for css demo 
*/

/* ---------------Box Sizing----------------- */


html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  /* =============== Utility Classes ===================*/
  .container{
      width: 65vw;
      margin:40px auto;
  }
  img{
      max-width:100%;
  }
  .img-right{
      float:right;
      margin-left:20px;
      border:1px solid #c0c0c0;
      padding: 5px;
  }
  .img-left{
    float:left;
    margin-right:20px;
    border:1px solid #c0c0c0;
    padding: 5px;
}
.img-center{
    display:block;
    margin:20px auto;
    border:2px solid #c0c0c0;
}
  /* +++++++++++++++Global Styles++++++++++++++ */




body {
    font-family: 'Roboto Mono', monospace;
    margin:0;
}

header.primary {
background-color:rgb(121, 45, 139);
text-align:center;
color:#ffffff;

/*(Top, Right, Bottom, Left*/
padding: 40px 40px 20px 40px;

/* Top/Bottom Right/Left */
padding: 40px 40px;

text-shadow: 2px 2px #000000;

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");

}
header.primary h1 {
    font-size:2.6rem;
    margin: 20px 0;
}

header.primary h1 a{
    color:#fff;
    text-decoration:none;
}

header.primary h2{
    font-size:1.4rem;
    /* Top \ Left/Right / Bottom */
    margin:20px auto 40px;
}

header.primary nav{
    width:80vw;
    margin: 0 auto;
    max-width: 900px;
}

header.primary nav ul{
    /*removes extra space for list item attachments*/
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary nav ul li a{
    color:#ffffff;
    text-decoration:none;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px 10px;
    transition: .3s;
}

header.primary.nav a:hover, header.primary nav ul li a:active{
    background-color: rgba(0, 0, 0, 0.8);
}

#intro{
    border-bottom: 3px solid #000000;
    padding-bottom: 5px;
}

#intro h2{
   color: rgb(121, 45, 139);
   border-bottom: 2px solid rgb(121, 45, 139);
}

#content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
border-bottom: 1px dotted #c0c0c0;
padding-bottom: 2.8rem;}

#content article.post {
    width:30%;
    box-shadow:0 4px 8px rgba(0,0,0,.4);
    padding: 10px;
    border-radius:10px;
    font-size: .7rem;
    transition: .3s;
}

#content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.397);
}

time.post-date{
    text-transform: uppercase;
    color:rgb(121, 45, 139);
}

.post figure{
margin:0;
}

.post image{
    border:1px solid #c0c0c0;
    padding: 5px;
    margin: 5px 0;
}

time.post-date, figcaption, .post-meta {
    text-transform: uppercase;
    color: #c0c0c0;
}

.post a{
    color:#3b638b;
}

.post a:hover {
    text-decoration: none;
}

aside[role="complementary"]{
    background-color:brown;
    color:#ffffff;
    padding: 1.8rem;
 }

 aside div.container{
     display:flex;
     flex-direction:row;
     justify-content: space-between;
 }

 aside article.widget{
     width:45%;
 }

 article.widget a{
     color:white;
     display:block;
     margin-top: .8rem;
     text-align: right;
 }

 article.widget footer{
     display:none;
 }

 #colophon h6{
     padding: 20px;
     margin: 0;
     text-align: center;
     color: #fff;
     font-size:.8rem;
     background-color: sandybrown;
     text-transform: uppercase;

 }

 #additional-elements a{
     color:#3b638b;
 }

 #additional elements h3{
     border-left: 8px solid #3b638b;
     padding: 5px 10 px;
 }

 #additional-elements ol{
     list-style-type: upper-roman;
     list-style-position: outside;
 }
 dl{}
 dt{font-weight: bold;}
 dd{
     margin-left: 0;
 }
 
 table{
width:100%;
border:1px solid #c0c0c0;
border-collapse:collapse;
 }

 tr{}

 tr:nth-child(even){
     background-color: 0,0,0,.1;
 }

tr:hover{
background-color:rgba(0, 0, 0, 0.397);
}

td:nth-child(2n), td:nth-child(3n){
text-align:right;
}

 th{
     background:#172635;
     color:#fff;
     width:33%;
 }
 td{
     border: 1px solid #c0c0c0;
     padding:5px;
 }

@media screen and (max-width:600px){

    header.primary nav ul{
        flex-direction: column;}
}

